# SPDX-License-Identifier: GPL-2.0-only
config BAIKAL_PD_SMC
	tristate "Baikal SoC's SMC power domains driver"
	depends on ARCH_BAIKAL || (COMPILE_TEST && OF)
	depends on HAVE_ARM_SMCCC
	default y
	select PM_GENERIC_DOMAINS if PM
	help
	  This enables Baikal SoC's (BE-L1000 only now) power domains control
	  driver.

	  This driver can also be built as a module. If so, the module
	  will be called baikal_pd_smc.