// SPDX-License-Identifier: GPL-2.0
/*
 * Device tree source for Elpitech ET104 v1.0 board
 */

/dts-v1/;

#define USE_BL1000_PCIE1_SS_MODE	3

#include "bl1000.dtsi"
#include <dt-bindings/input/gpio-keys.h>
#include <dt-bindings/input/linux-event-codes.h>

/ {
	model = "Elpitech ET104";
	compatible = "baikal,dbl", "baikal,bl1000";

	aliases {
		ethernet0 = &sc_gmac;
		fru = &fru;
		evdu = &ehsp_vdu;
		vdu = &hsp_vdu;
	};

	cpus {
		baikal,demand-qos = <12>;
		baikal,prefetch-qos = <10>;
		cpu@0 {
			baikal,enable-cbusy-tuning = <1>;
		};
		cpu@100 {
			baikal,enable-cbusy-tuning = <1>;
		};
		cpu@200 {
			baikal,enable-cbusy-tuning = <1>;
		};
		cpu@300 {
			baikal,enable-cbusy-tuning = <1>;
		};
	};

	chosen { };

	gpio-keys {
		compatible = "gpio-keys";
		pwr {
			label = "PWR Button";
			linux,code = <116>;
			gpios = <&porte 27 GPIO_ACTIVE_LOW>;
			wakeup-source;
			wakeup-event-action = <EV_ACT_DEASSERTED>;
		};
	};

	rfkill-wlan {
		compatible = "rfkill-gpio";
		label = "rfkill-m2e-wlan";
		radio-type = "wlan";
		shutdown-gpios = <&porte 5 GPIO_ACTIVE_HIGH>;
	};

	rfkill-bt {
		compatible = "rfkill-gpio";
		label = "rfkill-m2e-bt";
		radio-type = "bluetooth";
		shutdown-gpios = <&porte 7 GPIO_ACTIVE_HIGH>;
	};

	pd-supply {
		compatible = "gpio-charger";
		gpios = <&porte 17 GPIO_ACTIVE_HIGH>;
		charger-type = "mains";
	};
};

&ehsp_pcie0_p0 {
	status = "okay";
	num-lanes = <4>;
	pinctrl = <&sc_emmc_mux_gpio1>;
	reset-gpios = <&porte 1 GPIO_ACTIVE_LOW>;
};

&ehsp_pcie1_p0 {
	status = "okay";
	num-lanes = <2>;
	reset-gpios = <&porte 2 GPIO_ACTIVE_LOW>;
};

&ehsp_pcie1_p3 {
	status = "okay";
	num-lanes = <2>;
	reset-gpios = <&porte 4 GPIO_ACTIVE_LOW>;
};

&hsp_edp_phy {
	status = "okay";
};

&hsp_lsp_pinctrl0 {
	status = "okay";
};

&hsp_lsp_pinctrl1 {
	status = "okay";
};

&hsp_lsp_pinctrl2 {
	status = "okay";
};

&hsp_mali {
	status = "okay";
	baikal,arqos = <10>;
	baikal,awqos = <10>;
};

&hsp_vdec {
	status = "okay";
	baikal,arqos = <14>;
	baikal,awqos = <14>;
};

&hsp_vdu {
	status = "okay";
	baikal,dp-lanes = <4>;
	baikal,arqos = <15>;
	backlight {
		min-brightness-level = <10>;
		default-brightness-level = <60>;
		brightness-level-step = <2>;
		pwm-frequency = <20000>;
	};
};

&hsp_venc {
	status = "okay";
};

&mdio {
	ethphy: ethernet-phy@3 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x3>;
		interrupt-parent = <&porte>;
		interrupts = <13 IRQ_TYPE_LEVEL_LOW>;
	};
};


&sc_gmac {
	status = "okay";
	pinctrl = <&sc_gmac_sdio_bit0_mode1>,
		  <&sc_emmc_mux_gpio2>;

	phy-handle = <&ethphy>;
	phy-mode = "rgmii-rxid";

	snps,reset-gpios = <&porte 12 GPIO_ACTIVE_LOW>;
	snps,reset-delays-us = <10 10200 60000>;
};

&sc_gmac_sdio_pinctrl {
	status = "okay";
};

&sc_gpio32 {
	status = "okay";
};

&hsp_gpio32 {
	status = "okay";
};

&sc_gpio30 {
	status = "okay";
};

&hsp_lsp_pinctrl0 {
	status = "okay";
};

&sc_lsp_pinctrl0 {
	status = "okay";
};

&sc_lsp_pinctrl1 {
	status = "okay";
};

&sc_lsp_pinctrl2 {
	status = "okay";
};

&sc_emmc_pinctrl {
	status = "okay";
};

&sc_emmc_pu_pinctrl {
	status = "okay";
};

&sc_emmc_pd_pinctrl {
	status = "okay";
};

#define MKEY(s,k)	<((s << 16) | k)>

&sc_uart2 {
	status = "okay";
	pinctrl = <&sc_lsp_pin12_uart2_rxd>,
		  <&sc_lsp_pin13_uart2_txd>;

	ps2serio {
		compatible = "serdev,serio";
		current-speed = <115200>;
		type = <0x01>;	// SERIO_8042
		protocol = <0x22>; //SERIO_PS2SER
		linux,keymap = MKEY(0x1, 67),
			MKEY(0x2, 65),
			MKEY(0x3, 63),
			MKEY(0x4, 61),
			MKEY(0x5, 59),
			MKEY(0x6, 60),
			MKEY(0x7, 88),
			MKEY(0x9, 68),
			MKEY(0xa, 66),
			MKEY(0xb, 64),
			MKEY(0xc, 62),
			MKEY(0xd, 15),
			MKEY(0xe, 41),
			MKEY(0xf, 117),
			MKEY(0x11, 56),
			MKEY(0x12, 42),
			MKEY(0x13, 93),
			MKEY(0x14, 29),
			MKEY(0x15, 16),
			MKEY(0x16, 2),
			MKEY(0x1a, 44),
			MKEY(0x1b, 31),
			MKEY(0x1c, 30),
			MKEY(0x1d, 17),
			MKEY(0x1e, 3),
			MKEY(0x21, 46),
			MKEY(0x22, 45),
			MKEY(0x23, 32),
			MKEY(0x24, 18),
			MKEY(0x25, 5),
			MKEY(0x26, 4),
			MKEY(0x27, 95),
			MKEY(0x29, 57),
			MKEY(0x2a, 47),
			MKEY(0x2b, 33),
			MKEY(0x2c, 20),
			MKEY(0x2d, 19),
			MKEY(0x2e, 6),
			MKEY(0x2f, 183),
			MKEY(0x31, 49),
			MKEY(0x32, 48),
			MKEY(0x33, 35),
			MKEY(0x34, 34),
			MKEY(0x35, 21),
			MKEY(0x36, 7),
			MKEY(0x37, 184),
			MKEY(0x3a, 50),
			MKEY(0x3b, 36),
			MKEY(0x3c, 22),
			MKEY(0x3d, 8),
			MKEY(0x3e, 9),
			MKEY(0x3f, 185),
			MKEY(0x41, 51),
			MKEY(0x42, 37),
			MKEY(0x43, 23),
			MKEY(0x44, 24),
			MKEY(0x45, 11),
			MKEY(0x46, 10),
			MKEY(0x49, 52),
			MKEY(0x4a, 53),
			MKEY(0x4b, 38),
			MKEY(0x4c, 39),
			MKEY(0x4d, 25),
			MKEY(0x4e, 12),
			MKEY(0x51, 89),
			MKEY(0x52, 40),
			MKEY(0x54, 26),
			MKEY(0x55, 13),
			MKEY(0x57, 193),
			MKEY(0x58, 58),
			MKEY(0x59, 54),
			MKEY(0x5a, 28),
			MKEY(0x5b, 27),
			MKEY(0x5d, 43),
			MKEY(0x5f, 85),
			MKEY(0x61, 86),
			MKEY(0x62, 91),
			MKEY(0x63, 90),
			MKEY(0x64, 92),
			MKEY(0x66, 14),
			MKEY(0x67, 94),
			MKEY(0x69, 79),
			MKEY(0x6a, 124),
			MKEY(0x6b, 75),
			MKEY(0x6c, 71),
			MKEY(0x6d, 121),
			MKEY(0x70, 82),
			MKEY(0x71, 83),
			MKEY(0x72, 80),
			MKEY(0x73, 76),
			MKEY(0x74, 77),
			MKEY(0x75, 72),
			MKEY(0x76, 1),
			MKEY(0x77, 69),
			MKEY(0x78, 87),
			MKEY(0x79, 78),
			MKEY(0x7a, 81),
			MKEY(0x7b, 74),
			MKEY(0x7c, 55),
			MKEY(0x7d, 73),
			MKEY(0x7e, 70),
			MKEY(0x7f, 99),
			MKEY(0x90, 217),
			MKEY(0x91, 100),
			MKEY(0x92, 255),
			MKEY(0x94, 97),
			MKEY(0x95, 165),
			MKEY(0x98, 156),
			MKEY(0x9f, 125),
			MKEY(0xa0, 173),
			MKEY(0xa1, 114),
			MKEY(0xa3, 113),
			MKEY(0xa7, 139),	//BTN-RIGHT - 273
			MKEY(0xa8, 128),
			MKEY(0xab, 140),
			MKEY(0xaf, 127),
			MKEY(0xb0, 159),
			MKEY(0xb2, 115),
			MKEY(0xb4, 164),
			MKEY(0xb7, 116),
			MKEY(0xb8, 158),
			MKEY(0xba, 172),
			MKEY(0xbb, 166),
			MKEY(0xbf, 142),
			MKEY(0xc0, 157),
			MKEY(0xc8, 155),
			MKEY(0xca, 98),
			MKEY(0xcd, 163),
			MKEY(0xd0, 226),
			MKEY(0xd9, 255),
			MKEY(0xda, 96),
			MKEY(0xde, 143),
			MKEY(0xe9, 107),
			MKEY(0xeb, 105),
			MKEY(0xec, 102),
			MKEY(0xef, 112),
			MKEY(0xf0, 110),
			MKEY(0xf1, 111),
			MKEY(0xf2, 108),
			MKEY(0xf3, 112),
			MKEY(0xf4, 106),
			MKEY(0xf5, 103),
			MKEY(0xf7, 119),
			MKEY(0xf9, 118),
			MKEY(0xfa, 109),
			MKEY(0xfc, 99),
			MKEY(0xfd, 104),
			MKEY(0xfe, 119),
			MKEY(0x103, 65),
			MKEY(0x104, 99),
			MKEY(0xbf, 142),
			MKEY(0xc1, 225),
			MKEY(0xc2, 224),
			MKEY(0xc3, 247),
			MKEY(0xc4, 227);
	};
};

&sc_pvt {
	status = "okay";
};

&ddr_pvt {
	status = "okay";
};

&hsp_pvt {
	status = "okay";
};

&ehsp_pvt {
	status = "okay";
};

&ca710_pvt {
	status = "okay";
};

&sc_hda {
	status = "okay";
	pinctrl = <&sc_lsp_pin14_hda_rst>,
		  <&sc_lsp_pin15_hda_sync>,
		  <&sc_lsp_pin16_hda_bclk>,
		  <&sc_lsp_pin17_hda_sdo0>,
		  <&sc_lsp_pin18_hda_sdi0>;
	patch-data = "[codec]\n\
0x111d76d5 0x00000100 0\n\
[model]\n\
et104\n\
[pincfg]\n\
0x11 0x90a3004e\n";
};

&ehsp_dp_phy {
	status = "okay";
};

&ehsp_vdu {
	status = "okay";
	baikal,dp-lanes = <4>;
	baikal,arqos = <15>;
};

&hsp_usb1_l0 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "super-speed";
	phys = <&hsp_usb1_phy10g_l0>;
	phy-names = "cdns3,usb3-phy";
};

&hsp_usb1_l1 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "high-speed";
	phys = <&hsp_usb1_phy10g_l1>;
	phy-names = "cdns3,usb3-phy";
};

&hsp_usb1_phy10g {
	status = "okay";
};

&hsp_usb1_phy10g_l0 {
	status = "okay";
};

&hsp_usb1_phy10g_l1 {
	status = "okay";
};

&sc_i2c0 { // M2E
	status = "okay";
	pinctrl = <&sc_lsp_pin0_i2c0_scl>,
		  <&sc_lsp_pin1_i2c0_sda>;
};

&sc_i2c1 {
	status = "okay";
	pinctrl = <&sc_lsp_pin2_i2c1_scl>,
		  <&sc_lsp_pin3_i2c1_sda>;

	fru: eeprom@50 {
		compatible = "atmel,24c256";
		reg = <0x50>;
	};
};

&sc_i2c2 {
	status = "okay";
	pinctrl = <&sc_lsp_pin4_i2c2_scl>,
		  <&sc_lsp_pin5_i2c2_sda>;

	touchpad@2c {
		reg = <0x2c>;
		compatible = "hid-over-i2c";
		reset-gpios = <&porte 19 GPIO_ACTIVE_LOW>;
		interrupts-extended = <&porte 18 IRQ_TYPE_LEVEL_LOW>;
		hid-descr-addr = <0x20>;
	};
};

&hsp_usb0_l0 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "super-speed";
	phys = <&hsp_usb0_phy10g_l0>;
	phy-names = "cdns3,usb3-phy";
};

&hsp_usb0_l1 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "super-speed";
	phys = <&hsp_usb0_phy10g_l1>;
	phy-names = "cdns3,usb3-phy";
};

&hsp_usb0_phy10g {
	status = "okay";
};

&hsp_usb0_phy10g_l0 {
	status = "okay";
};

&hsp_usb0_phy10g_l1 {
	status = "okay";
};

&sc_i2c3 {
	status = "okay";
	pinctrl = <&sc_lsp_pin6_i2c3_scl>,
		  <&sc_lsp_pin7_i2c3_sda>;

	edid: eeprom@50 {
		compatible = "atmel,24c32";
		pagesize = <32>;
		reg = <0x50>;
	};

	eeprom@54 {
		compatible = "st,m24256";
		reg = <0x54>;
	};
};

&sc_uart0 {
	status = "okay";
	pinctrl = <&sc_lsp_pin8_uart0_rxd>,
		  <&sc_lsp_pin9_uart0_txd>;
};

&sc_uart1 {
	status = "okay";
	pinctrl = <&sc_lsp_pin10_uart1_rxd>,
		  <&sc_lsp_pin11_uart1_txd>;
};

&hsp_i2c0 {
	status = "okay";
	pinctrl = <&hsp_lsp_pin0_i2c0_scl>,
		  <&hsp_lsp_pin1_i2c0_sda>;
};

&hsp_i2c1 {
	status = "okay";
	pinctrl = <&hsp_lsp_pin2_i2c1_scl>,
		  <&hsp_lsp_pin3_i2c1_sda>;
	clock-frequency = <100000>;

	battery@b {
		reg = <0xb>;
		compatible = "sbs,sbs-battery";
	};

	rtc@54 {
		reg = <0x54>;
		compatible = "nxp,pcf2127";
	};
};

&hsp_i2c2 {
	status = "okay";
	pinctrl = <&hsp_lsp_pin4_i2c2_scl>,
		  <&hsp_lsp_pin5_i2c2_sda>;
};

&hsp_i2c3 { /* Connected to DIMM SPDs */
	status = "okay";
	pinctrl = <&hsp_lsp_pin6_i2c3_scl>,
		  <&hsp_lsp_pin7_i2c3_sda>;
};

