// SPDX-License-Identifier: GPL-2.0
/*
 * Device tree source for ET114-v2.
 */

/dts-v1/;

#define USE_BL1000_PCIE1_SS_MODE	3

#include "bl1000.dtsi"
#include <dt-bindings/input/gpio-keys.h>
#include <dt-bindings/input/linux-event-codes.h>

/ {
	model = "Spintronica 1L02ST";
	compatible = "baikal,dbl", "baikal,bl1000";

	aliases {
		ethernet0 = &sc_gmac;
		fru = &fru;
		evdu = &ehsp_vdu;
		vdu = &hsp_vdu;
	};

	cpus {
		baikal,demand-qos = <12>;
		baikal,prefetch-qos = <10>;
		cpu@0 {
			baikal,enable-cbusy-tuning = <1>;
		};
		cpu@100 {
			baikal,enable-cbusy-tuning = <1>;
		};
		cpu@200 {
			baikal,enable-cbusy-tuning = <1>;
		};
		cpu@300 {
			baikal,enable-cbusy-tuning = <1>;
		};
	};

	chosen { };

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl = <&hsp_lsp_pin14_gpio32>,
			  <&hsp_lsp_pin15_gpio32>; // ???
		pwr {
			label = "PWR Button";
			linux,code = <116>;
			gpios = <&portf 15 GPIO_ACTIVE_LOW>;
			wakeup-source;
			wakeup-event-action = <EV_ACT_DEASSERTED>;
		};
	};

	rfkill {
		compatible = "rfkill-gpio";
		label = "rfkill-m2e";
		radio-type = "wlan";
		shutdown-gpios = <&portf 9 GPIO_ACTIVE_HIGH>;
	};

};

&ehsp_pcie0_p0 {
	status = "okay";
	num-lanes = <4>;
	pinctrl = <&hsp_lsp_pin4_gpio32>;
	reset-gpios = <&portf 4 GPIO_ACTIVE_LOW>;
};

&ehsp_pcie1_p0 {
	status = "okay";
	num-lanes = <2>;
	reset-gpios = <&portc 1 GPIO_ACTIVE_LOW>;
};

&ehsp_pcie1_p3 {
	status = "okay";
	num-lanes = <1>;
	pinctrl = <&hsp_lsp_pin10_gpio32>;
	reset-gpios = <&portf 10 GPIO_ACTIVE_LOW>;
};

&hsp_edp_phy {
	status = "okay";
};

&edp_phy {
	cdns,num-lanes = <2>;
};

&hsp_lsp_pinctrl0 {
	status = "okay";
};

&hsp_lsp_pinctrl1 {
	status = "okay";
};

&hsp_lsp_pinctrl2 {
	status = "okay";
};

&hsp_mali {
	status = "okay";
	baikal,arqos = <10>;
	baikal,awqos = <10>;
};

&hsp_vdec {
	status = "okay";
	baikal,arqos = <14>;
	baikal,awqos = <14>;
};

&hsp_vdu {
	status = "okay";
	baikal,dp-lanes = <4>;
	baikal,arqos = <15>;
	backlight {
		min-brightness-level = <10>;
		default-brightness-level = <60>;
		brightness-level-step = <2>;
		pwm-frequency = <20000>;
	};
};

&hsp_venc {
	status = "okay";
};

&mdio {
	ethphy: ethernet-phy@3 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x3>;
		interrupt-parent = <&portf>;
		interrupts = <1 IRQ_TYPE_LEVEL_LOW>;
	};
};

&sc_emmc1_sdhci {
	status = "okay";
	pinctrl = <&sc_emmc_mux_emmc1>,
		  <&sc_emmc_hc1_1_8v>,
		  <&sc_emmc_hc1_mem_pwrup>,
		  <&sc_emmc_pu_hc1_cmd_dat_0_7>,
		  <&sc_emmc_pd_hc1_dqs>;
	bus-width = <4>;
};

&sc_emmc2_sdhci {
	status = "okay";
	pinctrl = <&sc_emmc_mux_emmc2>,
		  <&sc_emmc_hc2_1_8v>,
		  <&sc_emmc_hc2_mem_pwrup>,
		  <&sc_emmc_pu_hc2_cmd_dat_0_7>,
		  <&sc_emmc_pd_hc2_dqs>;
	bus-width = <4>;
};

&sc_emmc_pinctrl {
	status = "okay";
};

&sc_emmc_pu_pinctrl {
	status = "okay";
};

&sc_emmc_pd_pinctrl {
	status = "okay";
};

&sc_gmac {
	status = "okay";
	pinctrl = <&sc_gmac_sdio_bit0_mode1>,
		  <&hsp_lsp_pin0_gpio32>,
		  <&hsp_lsp_pin1_gpio32>;

	phy-handle = <&ethphy>;
	phy-mode = "rgmii-rxid";

	snps,reset-gpios = <&portf 0 GPIO_ACTIVE_LOW>;
	snps,reset-delays-us = <10 10200 60000>;
};

&sc_gmac_sdio_pinctrl {
	status = "okay";
};

&sc_gpio32 {
	status = "okay";
};

&hsp_gpio32 {
	status = "okay";
};

&sc_gpio30 {
	status = "okay";
};

&hsp_lsp_pinctrl0 {
	status = "okay";
};

&sc_lsp_pinctrl0 {
	status = "okay";
};

&sc_lsp_pinctrl1 {
	status = "okay";
};

&sc_lsp_pinctrl2 {
	status = "okay";
};

&sc_uart2 {
	status = "okay";
	pinctrl = <&sc_lsp_pin12_uart2_rxd>,
		  <&sc_lsp_pin13_uart2_txd>;
};

&sc_pvt {
	status = "okay";
};

&ddr_pvt {
	status = "okay";
};

&hsp_pvt {
	status = "okay";
};

&ehsp_pvt {
	status = "okay";
};

&ca710_pvt {
	status = "okay";
};

&sc_hda {
	status = "okay";
	pinctrl = <&sc_lsp_pin14_hda_rst>,
		  <&sc_lsp_pin15_hda_sync>,
		  <&sc_lsp_pin16_hda_bclk>,
		  <&sc_lsp_pin17_hda_sdo0>,
		  <&sc_lsp_pin18_hda_sdi0>;
	patch-data = "[codec]\n\
0x111d76d5 0x00000100 0\n\
[model]\n\
et114\n\
[pincfg]\n\
0x0a 0x01a1101f\n\
0x0b 0x01211010\n\
0x0c 0x02a19020\n\
0x0e 0x02014021\n\
0x0f 0x02813040\n";
};

&ehsp_dp_phy {
	status = "okay";
};

&ehsp_vdu {
	status = "okay";
	baikal,dp-lanes = <4>;
	baikal,arqos = <15>;
};

&hsp_usb1_l0 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "super-speed";
	phys = <&hsp_usb1_phy10g_l0>;
	phy-names = "cdns3,usb3-phy";
};

&hsp_usb1_l1 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "high-speed";
	phys = <&hsp_usb1_phy10g_l1>;
	phy-names = "cdns3,usb3-phy";
};

&hsp_usb1_phy10g {
	status = "okay";
};

&hsp_usb1_phy10g_l0 {
	status = "okay";
};

&hsp_usb1_phy10g_l1 {
	status = "okay";
};

&sc_i2c1 {	// M2E
	status = "okay";
	pinctrl = <&sc_lsp_pin2_i2c1_scl>,
		  <&sc_lsp_pin3_i2c1_sda>;
};

&sc_i2c2 {
	status = "okay";
	pinctrl = <&sc_lsp_pin4_i2c2_scl>,
		  <&sc_lsp_pin5_i2c2_sda>;

	fru: eeprom@50 {
		compatible = "atmel,24c256";
		reg = <0x50>;
	};

	rtc: rtc@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
	};
};

&hsp_usb0_l0 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "super-speed";
	phys = <&hsp_usb0_phy10g_l0>;
	phy-names = "cdns3,usb3-phy";
};

&hsp_usb0_l1 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "super-speed";
	phys = <&hsp_usb0_phy10g_l1>;
	phy-names = "cdns3,usb3-phy";
};

&hsp_usb0_phy10g {
	status = "okay";
};

&hsp_usb0_phy10g_l0 {
	status = "okay";
};

&hsp_usb0_phy10g_l1 {
	status = "okay";
};

&sc_i2c3 {
	status = "okay";
	pinctrl = <&sc_lsp_pin6_i2c3_scl>,
		  <&sc_lsp_pin7_i2c3_sda>;

	edid: eeprom@50 {
		compatible = "atmel,24c32";
		pagesize = <32>;
		reg = <0x50>;
	};

	eeprom@54 {
		compatible = "st,m24256";
		reg = <0x54>;
	};
};

&sc_uart0 {
	status = "okay";
	pinctrl = <&sc_lsp_pin8_uart0_rxd>,
		  <&sc_lsp_pin9_uart0_txd>;
};

&sc_uart1 {
	status = "okay";
	pinctrl = <&sc_lsp_pin10_uart1_rxd>,
		  <&sc_lsp_pin11_uart1_txd>;
};

