// SPDX-License-Identifier: GPL-2.0
/*
 * Device tree source for Elpitech ET124 v1.0 board
 */

/dts-v1/;

#define USE_BL1000_PCIE1_SS_MODE	3

#include "bl1000.dtsi"
#include <dt-bindings/input/gpio-keys.h>
#include <dt-bindings/input/linux-event-codes.h>

/ {
	model = "Elpitech ET124";
	compatible = "baikal,dbl", "baikal,bl1000";

	aliases {
		ethernet0 = &sc_gmac;
		fru = &fru;
		evdu = &ehsp_vdu;
		vdu = &hsp_vdu;
	};

	cpus {
		baikal,demand-qos = <12>;
		baikal,prefetch-qos = <10>;
		cpu@0 {
			baikal,enable-cbusy-tuning = <1>;
		};
		cpu@100 {
			baikal,enable-cbusy-tuning = <1>;
		};
		cpu@200 {
			baikal,enable-cbusy-tuning = <1>;
		};
		cpu@300 {
			baikal,enable-cbusy-tuning = <1>;
		};
	};

	chosen { };

	uart_clk: uart_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
		clock-output-names = "uartclk";
	};

	gpio-keys {
		compatible = "gpio-keys";
		pwr {
			label = "PWR Button";
			linux,code = <116>;
			gpios = <&porte 27 GPIO_ACTIVE_LOW>;
			wakeup-source;
			wakeup-event-action = <EV_ACT_DEASSERTED>;
		};
	};

	rfkill-wlan {
		compatible = "rfkill-gpio";
		label = "rfkill-m2e-wlan";
		radio-type = "wlan";
		shutdown-gpios = <&porte 5 GPIO_ACTIVE_HIGH>;
	};

	rfkill-bt {
		compatible = "rfkill-gpio";
		label = "rfkill-m2e-bt";
		radio-type = "bluetooth";
		shutdown-gpios = <&porte 7 GPIO_ACTIVE_HIGH>;
	};
};

&ehsp_pcie0_p0 {
	status = "okay";
	pinctrl = <&sc_emmc_mux_gpio1>;
	num-lanes = <4>;
	reset-gpios = <&porte 1 GPIO_ACTIVE_LOW>;
};

&ehsp_pcie1_p0 {
	status = "okay";
	num-lanes = <4>;
	reset-gpios = <&porte 4 GPIO_ACTIVE_LOW>;
};

&ehsp_pcie1_p2 {
	status = "okay";
	num-lanes = <1>;
	reset-gpios = <&porte 2 GPIO_ACTIVE_LOW>;
};

&hsp_edp_phy {
	status = "okay";
};

&hsp_i2c0 {
	status = "okay";
	pinctrl = <&hsp_lsp_pin0_i2c0_scl>,
		  <&hsp_lsp_pin1_i2c0_sda>;
};

&hsp_i2c1 {
	status = "okay";
	pinctrl = <&hsp_lsp_pin2_i2c1_scl>,
		  <&hsp_lsp_pin3_i2c1_sda>;
};

&hsp_i2c2 {
	status = "okay";
	pinctrl = <&hsp_lsp_pin4_i2c2_scl>,
		  <&hsp_lsp_pin5_i2c2_sda>;

	eeprom@54 {
		compatible = "st,m24256";
		reg = <0x54>;
	};
};

&hsp_i2c3 { /* Connected to DIMM SPDs */
	status = "okay";
	pinctrl = <&hsp_lsp_pin6_i2c3_scl>,
		  <&hsp_lsp_pin7_i2c3_sda>;
};

&hsp_lsp_pinctrl0 {
	status = "okay";
};

&hsp_lsp_pinctrl1 {
	status = "okay";
};

&hsp_lsp_pinctrl2 {
	status = "okay";
};

&hsp_mali {
	status = "okay";
	baikal,arqos = <10>;
	baikal,awqos = <10>;
};

&hsp_smmu {
	status = "okay";
};

&hsp_vdec {
	status = "okay";
	baikal,arqos = <14>;
	baikal,awqos = <14>;
};

&hsp_vdu {
	status = "okay";
	baikal,dp-lanes = <4>;
	baikal,arqos = <15>;
	baikal,audio-enable;
	backlight {
		min-brightness-level = <10>;
		default-brightness-level = <60>;
		brightness-level-step = <2>;
		pwm-frequency = <20000>;
	};
};

&hsp_venc {
	status = "okay";
};

&mdio {
	ethphy: ethernet-phy@3 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x3>;
		interrupt-parent = <&porte>;
		interrupts = <13 IRQ_TYPE_LEVEL_LOW>;
	};
};

&sc_emmc_pinctrl {
	status = "okay";
};

&sc_emmc_pu_pinctrl {
	status = "okay";
};

&sc_emmc_pd_pinctrl {
	status = "okay";
};

&sc_gmac {
	status = "okay";
	pinctrl = <&sc_gmac_sdio_bit0_mode1>,
		  <&sc_emmc_mux_gpio2>;

	phy-handle = <&ethphy>;
	phy-mode = "rgmii-rxid";

	snps,reset-gpios = <&porte 12 GPIO_ACTIVE_LOW>;
	snps,reset-delays-us = <10 10000 50000>;
};

&sc_gmac_sdio_pinctrl {
	status = "okay";
};

&sc_gpio32 {
	status = "okay";
};

&sc_gpio30 {
	status = "okay";
};

&sc_lsp_pinctrl0 {
	status = "okay";
};

&sc_lsp_pinctrl1 {
	status = "okay";
};

&sc_lsp_pinctrl2 {
	status = "okay";
};

&sc_uart2 {
	status = "okay";
	pinctrl = <&sc_lsp_pin12_uart2_rxd>,
		  <&sc_lsp_pin13_uart2_txd>;
};

&sc_pvt {
	status = "okay";
};

&ddr_pvt {
	status = "okay";
};

&hsp_pvt {
	status = "okay";
};

&ehsp_pvt {
	status = "okay";
};

&ca710_pvt {
	status = "okay";
};

&sc_hda {
	status = "okay";
	pinctrl = <&sc_lsp_pin14_hda_rst>,
		  <&sc_lsp_pin15_hda_sync>,
		  <&sc_lsp_pin16_hda_bclk>,
		  <&sc_lsp_pin17_hda_sdo0>,
		  <&sc_lsp_pin18_hda_sdi0>;
	patch-data = "[codec]\n\
0x111d76d5 0x00000100 0\n\
[model]\n\
et124\n\
[pincfg]\n\
0x0a 0x0221413f\n\
0x0b 0x40000000\n\
0x0c 0x02a19120\n\
0x0d 0x40000000\n\
0x0e 0x01813121\n\
0x0f 0x40000000\n\
0x11 0x40000000\n\
0x1f 0x40000000\n\
0x20 0x40000000\n\
[verb]\n\
0x18 0xf01 0x04\n";
};

&ehsp_dp_phy {
	status = "okay";
};

&ehsp_vdu {
	status = "okay";
	baikal,dp-lanes = <4>;
	baikal,arqos = <15>;
	baikal,audio-enable;
};

&hsp_usb1_phy20_l0 {
	status = "okay";
};

&hsp_usb1_phy20_l1 {
	status = "okay";
};

&hsp_usb1_l0 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "super-speed";
	phys = <&hsp_usb1_phy10g_l0>;
	phy-names = "cdns3,usb3-phy";
};

&hsp_usb1_l1 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "high-speed";
};

&hsp_usb1_phy10g {
	status = "okay";
};

&hsp_usb1_phy10g_l0 {
	status = "okay";
};

&hsp_usb1_phy10g_l1 {
	status = "okay";
};

&hsp_uart1 {
	status = "okay";
	pinctrl = <&hsp_lsp_pin10_uart1_rxd>,
		  <&hsp_lsp_pin11_uart1_txd>;
};

&hsp_uart2 {
	status = "okay";
	pinctrl = <&hsp_lsp_pin12_uart2_rxd>,
		  <&hsp_lsp_pin13_uart2_txd>;
};

&hsp_usb0_phy20_l0 {
	status = "okay";
};

&hsp_usb0_phy20_l1 {
	status = "okay";
};

&hsp_usb0_l0 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "super-speed";
	phys = <&hsp_usb0_phy10g_l0>;
	phy-names = "cdns3,usb3-phy";
};

&hsp_usb0_l1 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "super-speed";
	phys = <&hsp_usb0_phy10g_l1>;
	phy-names = "cdns3,usb3-phy";
};

&hsp_usb0_phy10g {
	status = "okay";
};

&hsp_usb0_phy10g_l0 {
	status = "okay";
};

&hsp_usb0_phy10g_l1 {
	status = "okay";
};

&sc_i2c0 {
	status = "okay";
	pinctrl = <&sc_lsp_pin0_i2c0_scl>,
		  <&sc_lsp_pin1_i2c0_sda>;
};

&sc_i2c1 {
	status = "okay";
	pinctrl = <&sc_lsp_pin2_i2c1_scl>,
		  <&sc_lsp_pin3_i2c1_sda>;
};

&sc_i2c2 {
	status = "okay";
	pinctrl = <&sc_lsp_pin4_i2c2_scl>,
		  <&sc_lsp_pin5_i2c2_sda>;
};

&sc_i2c3 {
	status = "okay";
	pinctrl = <&sc_lsp_pin6_i2c3_scl>,
		  <&sc_lsp_pin7_i2c3_sda>;

	fru: eeprom@50 {
		compatible = "atmel,24c256";
		pagesize = <32>;
		reg = <0x50>;
	};

	eeprom@54 {
		compatible = "st,m24256";
		reg = <0x54>;
	};
};

&sc_uart0 {
	status = "okay";
	pinctrl = <&sc_lsp_pin8_uart0_rxd>,
		  <&sc_lsp_pin9_uart0_txd>;
};

&sc_uart1 {
	status = "okay";
	pinctrl = <&sc_lsp_pin10_uart1_rxd>,
		  <&sc_lsp_pin11_uart1_txd>;
};

&sc_timer0 {
	status = "okay";
};

&sc_timer1 {
	status = "okay";
};

&sc_timer2 {
	status = "okay";
};

&sc_timer3 {
	status = "okay";
};

