// SPDX-License-Identifier: GPL-2.0
/*
 * Device tree source for Baikal Electronics EVL-T v2.0 board
 * Copyright (C) 2026 Baikal Electronics, JSC
 */

/dts-v1/;

#include "bl1000.dtsi"

/ {
	model = "Baikal Electronics EVL-T";
	compatible = "baikal,evl-t", "baikal,bl1000";

	aliases {
		ethernet0 = &sc_gmac;
	};

	cpus {
		baikal,demand-qos = <10>;
		baikal,prefetch-qos = <8>;
		cpu@0 {
			baikal,enable-cbusy-tuning = <1>;
		};
		cpu@100 {
			baikal,enable-cbusy-tuning = <1>;
		};
		cpu@200 {
			baikal,enable-cbusy-tuning = <1>;
		};
		cpu@300 {
			baikal,enable-cbusy-tuning = <1>;
		};
	};

	chosen { };

	sc_sound {
		compatible = "baikal,snd-soc-baikal";
		baikal,cpu-dai = <&sc_i2s0>;
		baikal,codec = <&nau8822>;
		baikal,codec-name = "nau8822";
		baikal,dai-name = "HiFi-sc-sound";
		baikal,stream-name = "HiFi-sc-sound";
	};
};

#if 0 /* TODO: v2.0 */
&ehsp_dp_phy {
	status = "okay";
};

&ehsp_vdu {
	status = "okay";
	baikal,dp-lanes = <4>;
	baikal,arqos = <15>;
};
#endif

&hsp_dmac {
	status = "okay";
};

&hsp_edp_phy {
	status = "okay";
};

&hsp_gpio32 {
	status = "okay";
};

#if 0 /* TODO */
&hsp_i2c0 { /* Connected to USB/DP MUX */
	status = "okay";
	pinctrl = <&hsp_lsp_pin0_i2c0_scl>,
		  <&hsp_lsp_pin1_i2c0_sda>;

};
#endif

&hsp_i2c1 { /* Connected to USB HUB */
	status = "okay";
	pinctrl = <&hsp_lsp_pin2_i2c1_scl>,
		  <&hsp_lsp_pin3_i2c1_sda>;

	usb_hub: usb-hub@2d {
		compatible = "microchip,usb5744";
		reg = <0x2d>;
	};
};

&hsp_i2s0 { /* Connected to M.2 Key B */
	status = "okay";
	system-clock-frequency = <24000000>;
	pinctrl = <&hsp_lsp_pin16_i2s0_sck>,
		  <&hsp_lsp_pin17_i2s0_ws>,
		  <&hsp_lsp_pin18_i2s0_sdo>,
		  <&hsp_lsp_pin19_i2s0_sdi>;
};

&hsp_lsp_pinctrl0 {
	status = "okay";
};

&hsp_lsp_pinctrl1 {
	status = "okay";
};

&hsp_lsp_pinctrl2 {
	status = "okay";
};

&hsp_mali {
	status = "okay";
	baikal,arqos = <10>;
	baikal,awqos = <10>;
};

&hsp_smmu {
	status = "okay";
};

&hsp_usb0_l0 { /* Connected to M.2 Key B */
	status = "okay";
	dr_mode = "host";
	maximum-speed = "super-speed";
	phys = <&hsp_usb0_phy10g_l0>;
	phy-names = "cdns3,usb3-phy";
};

&hsp_usb0_l1 { /* Connected to M.2 Key E */
	status = "okay";
	dr_mode = "host";
	maximum-speed = "high-speed";
};

&hsp_usb0_phy10g {
	status = "okay";
};

&hsp_usb0_phy10g_l0 {
	status = "okay";
};

&hsp_usb0_phy20_l0 {
	compatible = "cdns3,usb2-phy";
	status = "okay";
};

&hsp_usb0_phy20_l1 {
	compatible = "cdns3,usb2-phy";
	status = "okay";
};

&hsp_usb1_l0 { /* Connected to USB HUB */
	status = "okay";
	dr_mode = "host";
	maximum-speed = "super-speed";
	phys = <&hsp_usb1_phy10g_l0>;
	phy-names = "cdns3,usb3-phy";
	pinctrl = <&sc_lsp_pin1_gpio32>;
	#address-cells = <1>;
	#size-cells = <0>;

	/* 2.0 hub on port 1 */
	usb_hub_2_0: hub@1 {
		compatible = "usb424,2744";
		reg = <1>;
		peer-hub = <&usb_hub_3_0>;
		i2c-bus = <&usb_hub>;
		reset-gpios = <&portc 1 GPIO_ACTIVE_HIGH>;
	};

	/* 3.0 hub on port 2 */
	usb_hub_3_0: hub@2 {
		compatible = "usb424,5744";
		reg = <2>;
		peer-hub = <&usb_hub_2_0>;
		i2c-bus = <&usb_hub>;
		reset-gpios = <&portc 1 GPIO_ACTIVE_HIGH>;
	};
};

&hsp_usb1_l1 { /* Type C */
	status = "okay";
	dr_mode = "otg";
	maximum-speed = "super-speed";
	phys = <&hsp_usb1_phy10g_l1>;
	phy-names = "cdns3,usb3-phy";
};

&hsp_usb1_phy10g {
	status = "okay";
};

&hsp_usb1_phy10g_l0 {
	status = "okay";
};

&hsp_usb1_phy10g_l1 {
	status = "okay";
};

&hsp_usb1_phy20_l0 {
	compatible = "cdns3,usb2-phy";
	status = "okay";
};

&hsp_usb1_phy20_l1 {
	compatible = "cdns3,usb2-phy";
	status = "okay";
};

&hsp_vdec {
	status = "okay";
	baikal,arqos = <8>;
	baikal,awqos = <8>;
};

&hsp_vdu {
	status = "okay";
	baikal,dp-lanes = <4>;
	baikal,arqos = <15>;
	backlight {
		min-brightness-level = <10>;
		default-brightness-level = <60>;
		brightness-level-step = <2>;
		pwm-frequency = <20000>;
	};
};

&hsp_venc {
	status = "okay";
};

#if 1 /* TODO: v2.0 */
&ehsp_cmu0_pll {
	status = "disabled";
};

&ehsp_cmu0_clkch {
	status = "disabled";
};

&ehsp_cmu1_pll {
	status = "disabled";
};

&ehsp_cmu1_clkch {
	status = "disabled";
};

&ehsp_cmu2_pll {
	status = "disabled";
};

&ehsp_cmu2_clkch {
	status = "disabled";
};

&ehsp_pvt_clkch {
	status = "disabled";
};

&its0 {
	status = "disabled";
};

&its1 {
	status = "disabled";
};
#endif

&mdio {
	interrupt-parent = <&portf>;
	interrupts = <15 IRQ_TYPE_LEVEL_LOW>;
	pinctrl = <&hsp_lsp_pin14_gpio32>,
		  <&hsp_lsp_pin15_gpio32>;

	reset-gpios = <&portf 14 GPIO_ACTIVE_LOW>;
	reset-delay-us = <10000>;
	reset-post-delay-us = <10000>;

	ethphy: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
	};
};

&sc_dmac {
	status = "okay";
};

&sc_emmc1_sdhci {
	status = "okay";
	pinctrl = <&sc_emmc_mux_emmc1>,
		  <&sc_emmc_hc1_1_8v>,
		  <&sc_emmc_hc1_mem_pwrup>,
		  <&sc_emmc_pu_hc1_cmd_dat_0_7>,
		  <&sc_emmc_pd_hc1_dqs>;
	bus-width = <8>;
	no-sd;
	no-sdio;
	non-removable;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	sdhci-caps = <0x0 0x40000>;
	sdhci-caps-mask = <0x8000000 0x580000>; /* TODO: mask DMA support */
};

&sc_emmc2_sdhci {
	status = "okay";
	pinctrl = <&sc_emmc_mux_emmc2>,
		  <&sc_emmc_hc2_1_8v>,
		  <&sc_emmc_hc2_mem_pwrup>,
		  <&sc_emmc_pu_hc2_cmd_dat_0_7>,
		  <&sc_emmc_pd_hc2_dqs>;
	bus-width = <4>;
	sdhci-caps-mask = <0x8000000 0x580000>; /* TODO: mask DMA support */
	wp-inverted;
};

&sc_emmc_pinctrl {
	status = "okay";
};

&sc_emmc_pu_pinctrl {
	status = "okay";
};

&sc_emmc_pd_pinctrl {
	status = "okay";
};

&sc_gmac {
	status = "okay";
	pinctrl = <&sc_gmac_sdio_bit0_mode1>;

	phy-handle = <&ethphy>;
	phy-mode = "rgmii-rxid";
};

&sc_gmac_sdio_pinctrl {
	status = "okay";
};

&sc_gpio32 {
	status = "okay";
};

&sc_i2c1 { /* Connected to M.2 Key E */
	status = "okay";
	pinctrl = <&sc_lsp_pin0_i2c1_smbalert>,
		  <&sc_lsp_pin2_i2c1_scl>,
		  <&sc_lsp_pin3_i2c1_sda>;
};

&sc_i2c2 {
	status = "okay";
	pinctrl = <&sc_lsp_pin4_i2c2_scl>,
		  <&sc_lsp_pin5_i2c2_sda>;

#if 0 /* TODO */
	touchscreen@5d {
		compatible = "goodix,gt9271";
		reg = <0x5d>;
		pinctrl = <&sc_lsp_pin14_gpio32>,
			  <&sc_lsp_pin15_gpio32>;
		interrupt-parent = <&portc>;
		interrupts = <14 IRQ_TYPE_LEVEL_HIGH>;
		irq-gpios = <&portc 14 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&portc 15 GPIO_ACTIVE_HIGH>;
	};
#endif
};

&sc_i2c3 {
	status = "okay";
	pinctrl = <&sc_lsp_pin6_i2c3_scl>,
		  <&sc_lsp_pin7_i2c3_sda>,
		  <&sc_lsp_pin29_gpio32>; /* Fingerprint */

	nau8822: nau8822@1a {
		compatible = "nuvoton,nau8822";
		#sound-dai-cells = <1>;
		reg = <0x1a>;
	};

	light-sensor@23 {
		compatible = "liteon,ltr553";
		reg = <0x23>;
	};

#if 0 /* TODO */
	haptics@48 {
		compatible = "dlg,da7280";
		reg = <0x48>;
		pinctrl = <&sc_lsp_pin26_gpio32>,
			  <&sc_lsp_pin27_gpio32>;
		interrupt-parent = <&portc>;
		interrupts = <26 IRQ_TYPE_LEVEL_HIGH>;
		dlg,actuator-type = "LRA";
		dlg,dlg,const-op-mode = <1>;
		dlg,dlg,periodic-op-mode = <1>;
		dlg,nom-microvolt = <2000000>;
		dlg,abs-max-microvolt = <2000000>;
		dlg,imax-microamp = <170000>;
		dlg,resonant-freq-hz = <180>;
		dlg,impd-micro-ohms = <10500000>;
	};

	imu@68 {
		compatible = "invensense,mpu9255";
		reg = <0x68>;
		pinctrl = <&sc_lsp_pin28_gpio32>,
			  <&sc_lsp_pin30_gpio32>;
		interrupt-parent = <&portc>;
		interrupts = <28 IRQ_TYPE_LEVEL_HIGH>;
	};

	pressure@77 {
		compatible = "bosch,bmp085";
		reg = <0x77>;
		vddd-supply = <&foo>;
		vdda-supply = <&bar>;
	};
#endif
};

&sc_i2s0 {
	status = "okay";
	system-clock-frequency = <24000000>;
	pinctrl = <&sc_lsp_pin16_i2s0_sck>,
		  <&sc_lsp_pin17_i2s0_ws>,
		  <&sc_lsp_pin18_i2s0_sdo>,
		  <&sc_lsp_pin19_i2s0_sdi>;
};

&sc_i2s1 { /* Connected to M.2 Key E */
	status = "okay";
	system-clock-frequency = <24000000>;
	pinctrl = <&sc_lsp_pin21_i2s1_sck>,
		  <&sc_lsp_pin22_i2s1_ws>,
		  <&sc_lsp_pin23_i2s1_sdo>,
		  <&sc_lsp_pin24_i2s1_sdi>;
};

&sc_lsp_pinctrl0 {
	status = "okay";
};

&sc_lsp_pinctrl1 {
	status = "okay";
};

&sc_lsp_pinctrl2 {
	status = "okay";
};

&sc_sdio_sdhci { /* Connected to M.2 Key E */
	status = "okay";
	pinctrl = <&sc_gmac_sdio_bit1_mode1>;
	bus-width = <4>;
	sdhci-caps-mask = <0x8000000 0x580000>;
	max-frequency = <25000000>;
};

&sc_smmu {
	status = "okay";
};

&sc_uart1 { /* Connected to M.2 Key E */
	status = "okay";
	pinctrl = <&sc_lsp_pin10_uart1_rxd>,
		  <&sc_lsp_pin11_uart1_txd>;
};

&sc_uart2 { /* Connected to USB-UART bridge (CP2105) */
	status = "okay";
	pinctrl = <&sc_lsp_pin12_uart2_rxd>,
		  <&sc_lsp_pin13_uart2_txd>;
};

&sc_pvt {
	status = "okay";
};

&ddr_pvt {
	status = "okay";
};

&hsp_pvt {
	status = "okay";
};

#if 0 /* TODO: v2.0 */
&ehsp_pvt {
	status = "okay";
};
#endif

&ca710_pvt {
	status = "okay";
};
